<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Get the latest on whats happening: </h1>
     <% gossips.each do |gossip| %>
       <p>
         <%= gossip.author %><br/>
         <%= gossip.content %>
       </p>
     <% end %>
  </body>
</html>