<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Get the latest on what's happening: </h1>
     <% gossips.each_with_index do |gossip, index| %>
       <p>
         <%= gossip.author %><br/>
         <a href="/gossips/<%= index %>"><%= gossip.content %></a>
       </p>
     <% end %>
  </body>
</html>

