<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>This is the gossip number <%= params['id'] %> </h1>
    <p>
      The gossiper: <%= potin.author %>
    </p>
    <p>
      The gossip itself: <%= potin.content %>
    </p>
    <p><a href="/">Go back to see all the messages</a></p>
    <p><a href="/gossips/<%= params['id'] %>/edit/">Edit</a></p>
  </body>
</html>
